<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <a href="/">Home</a>
    <form method="POST" action="/students/add">
        <div>
            <label>Student ID:</label>
            <input type="text" name="sid" value="<%= student.sid || '' %>">
            <% if (errors.sid) { %>
                <p style="color:red;"><%= errors.sid %></p>
            <% } %>
        </div>
        <div>
            <label>Name:</label>
            <input type="text" name="name" value="<%= student.name || '' %>">
            <% if (errors.name) { %>
                <p style="color:red;"><%= errors.name %></p>
            <% } %>
        </div>
        <div>
            <label>Age:</label>
            <input type="number" name="age" value="<%= student.age || '' %>">
            <% if (errors.age) { %>
                <p style="color:red;"><%= errors.age %></p>
            <% } %>
        </div>
        <button type="submit">Add</button>
    </form>
</body>
</html>
