<!DOCTYPE html>
<html>
<head>
    <a href="/">Home</a>
    <title>Update Student</title>
</head>
<body>
    <h1>Update Student</h1>
    
    <form method="POST" action="/students/edit/<%= student.sid %>">

        <!--Prints out the selected students ID-->
        <div>
            <label>Student ID:</label>
            <input type="text" value="<%= student.sid %>" readonly>
        </div>
        
        <div>
            <!--Label for updating a students name-->
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= student.name %>">
            <% if (errors.name) { %>
                <p style="color:red;"><%= errors.name %></p>
            <% } %>
        </div>

        <!--Label for updating age of a student, -->
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="<%= student.age %>">
            <% if (errors.age) { %>
                <p style="color:red;"><%= errors.age %></p>
            <% } %>
        </div>

        <!--Submit button for the form, updates any changes to the .sql file-->
        <button type="submit">Add</button>

    </form>

    <!--Link to go back to student page-->
    <p><a href="/students">Back to Students</a></p>

</body>
</html>
